# Session 2 - Strings and list objects

In [1]:
# Single word
str1 = 'Hello , How are you?'
str1

'Hello , How are you?'

In [2]:
# Entire phrase 
'This is a string using single quote'

'This is a string using single quote'

In [3]:
# We can also use double quote
"string can be written using double quotes"

'string can be written using double quotes'

In [4]:
"I'am Sadiya , I'am usingle single quote inside the double quotes"

"I'am Sadiya , I'am usingle single quote inside the double quotes"

In [5]:
# We can simply declare a string
'Hi , we can just declare a string without giving the user defined value'

'Hi , we can just declare a string without giving the user defined value'

In [6]:
print ('HI')
print ('Hello ')
print ('Use \n to print a new line')

HI
Hello
Use
 to print a new line

In [7]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print ('Hello World')

Hello World

In [8]:
len('Hi , Hello')

10

In [9]:
# Assign s as a string
str = 'Hello World........!'

In [10]:
#Check
str

'Hello World........!'

In [11]:
# Print the object
print(str)

Hello World........!

In [12]:
# Show first element (in this case a letter)
str[3]

'l'

In [13]:
str[5]

' '

In [14]:
str[11]

'.'

In [15]:
# Grab everything past the first term all the way to the length of str which is len(s)
str[2:]

'llo World........!'

In [16]:
# Note that there is no change to the original str
str

'Hello World........!'

In [17]:
# Grab everything UP TO the 10th index
str[:10]

'Hello Worl'

In [18]:
#Everything
str[:]

'Hello World........!'

In [19]:
# Last letter (one index behind 0 so it loops back around)
str[-1]

'!'

In [20]:
# Grab everything but the last letter
str[:-1]

'Hello World........'

In [21]:
# Grab everything, but go in steps size of 1
str[::1]

'Hello World........!'

In [22]:
# Grab everything, but go in step sizes of 2
str[::3]

'HlWl...'

In [23]:
# We can use this to print a string backwards
str[::-2]

'!....lo le'

In [24]:
str

'Hello World........!'

In [25]:
# Let's try to change the first letter to 'x'
str[0] = 'F'

TypeError: 'str' object does not support item assignment

In [26]:
str

'Hello World........!'

In [27]:
# Concatenate strings!
str + ' concatenate me!'

'Hello World........! concatenate me!'

In [28]:
# We can reassign s completely though!
str = str + ' concatenate me!'
print(str)

Hello World........! concatenate me!

In [29]:
str

'Hello World........! concatenate me!'

In [30]:
letter = 'a'

In [31]:
letter*20

'aaaaaaaaaaaaaaaaaaaa'

In [32]:
str

'Hello World........! concatenate me!'

In [33]:
# Upper Case a string
str.upper()

'HELLO WORLD........! CONCATENATE ME!'

In [34]:
# Lower case
str.lower()

'hello world........! concatenate me!'

In [35]:
# Split a string by blank space (this is the default)
str.split()

['Hello', 'World........!', 'concatenate', 'me!']

In [36]:
# Split by a specific element (doesn't include the element that was split on)
str.split('e')

['H', 'llo World........! concat', 'nat', ' m', '!']

In [37]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [38]:
print(str)
str.count('e')

Hello World........! concatenate me!

4

In [39]:
str.find('e')

1

In [40]:
str.center(60,'@')

'@@@@@@@@@@@@Hello World........! concatenate me!@@@@@@@@@@@@'

In [41]:
'hello\thi'.expandtabs()

'hello   hi'

In [42]:
str = 'airobosoft'

In [43]:
str.isalnum()

True

In [44]:
str.isalpha()

True

In [46]:
str.islower()

True

In [47]:
str.isspace()

False

In [48]:
str.istitle()

False

In [49]:
str.isupper()

False

In [50]:
str.endswith('o')

False

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result.
•	Partition is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [51]:
str.split('l')

['airobosoft']

In [52]:
str.partition('o')

('air', 'o', 'bosoft')

In [53]:
str

'airobosoft'

In [54]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4,5]

In [55]:
my_list = ['A string',23,56.23,'o', '@@@@']
my_list

['A string', 23, 56.23, 'o', '@@@@']

In [56]:
len(my_list)

5

In [57]:
my_list = ['one','two','three',4,5,6,7,8,9,10]

In [58]:
# Grab element at index 0
my_list[2]

'three'

In [59]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5, 6, 7, 8, 9, 10]

In [60]:
# Grab everything UP TO index 3
my_list[:5]

['one', 'two', 'three', 4, 5]

In [61]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 6, 7, 8, 9, 10, 'new item']

In [62]:
my_list

['one', 'two', 'three', 4, 5, 6, 7, 8, 9, 10]

In [63]:
# Reassign
my_list = my_list + ['adding new item permanently']

In [64]:
my_list

['one', 'two', 'three', 4, 5, 6, 7, 8, 9, 10, 'adding new item permanently']

In [65]:
# Make the list double
my_list * 4

['one',
 'two',
 'three',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'adding new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'adding new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'adding new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'adding new item permanently']

In [66]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 6, 7, 8, 9, 10, 'adding new item permanently']

In [67]:
# Create a new list
l = [1,2,3,4,5]

In [68]:
# Append
l.append('append me!')

In [69]:
# Show
3

3

In [70]:
# Pop off the 0 indexed item
l.pop(0)

1

In [71]:
# Show
l

[2, 3, 4, 5, 'append me!']

In [72]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [73]:
popped_item

'append me!'

In [74]:
# Show remaining list
l

[2, 3, 4, 5]

In [75]:
l[50]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [76]:
new_list = ['a','e','x','b','c','i','o']

In [77]:
#Show
new_list

['a', 'e', 'x', 'b', 'c', 'i', 'o']

In [78]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [79]:
new_list

['o', 'i', 'c', 'b', 'x', 'e', 'a']

In [80]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [81]:
new_list

['a', 'b', 'c', 'e', 'i', 'o', 'x']

In [82]:
# Let's make three lists
lst_1=[1,2,3,'a']
lst_2=[4,5,6,'b']
lst_3=[7,8,9,'c']

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [83]:
# Show
matrix

[[1, 2, 3, 'a'], [4, 5, 6, 'b'], [7, 8, 9, 'c']]

In [84]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3, 'a']

In [85]:
# Grab first item of the first item in the matrix object
matrix[1][1]

5

In [86]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[1] for row in matrix]

In [87]:
first_col

[2, 5, 8]

In [88]:
l = [1,2,3,9,8,7]

In [89]:
l.append(4)

l

[1, 2, 3, 9, 8, 7, 4]

In [90]:
l.count(20)

0

In [91]:
l.count(3)

1

In [92]:
x = [1, 2, 3]
x.append([4, 5, 6, 7])
print(x)

[1, 2, 3, [4, 5, 6, 7]]

In [93]:
x = [1, 2, 3]
x.extend([4, 5 , 6 ,7])
print(x)

[1, 2, 3, 4, 5, 6, 7]

In [94]:
print(l)
l.index(2)

[1, 2, 3, 9, 8, 7, 4]

1

In [95]:
l.index(9)

3

In [96]:
l

[1, 2, 3, 9, 8, 7, 4]

In [97]:
# Place a letter at the index 2
l.insert(5,'inserted')

In [98]:
l

[1, 2, 3, 9, 8, 'inserted', 7, 4]

In [99]:
ele = l.pop()

In [100]:
l

[1, 2, 3, 9, 8, 'inserted', 7]

In [101]:
ele

4

In [102]:
l

[1, 2, 3, 9, 8, 'inserted', 7]

In [103]:
l.remove('inserted')

In [104]:
l

[1, 2, 3, 9, 8, 7]

In [105]:
l = [1 ,2 ,3 ,4 ,3 , 5 , 6 , 7]

In [106]:
l.remove(3)

In [107]:
l

[1, 2, 4, 3, 5, 6, 7]

In [108]:
l.reverse()

In [109]:
l

[7, 6, 5, 3, 4, 2, 1]

In [110]:
l

[7, 6, 5, 3, 4, 2, 1]

In [111]:
l.sort()

In [112]:
l

[1, 2, 3, 4, 5, 6, 7]