In [1]:
# Can create a tuple with mixed types
t = (1 , 2 , 3 , 4 , 5, 8)

In [2]:
# Check len just like a list
len(t)

6

In [3]:
# Can also mix object types
t = ('one',2 , 'three' , 4 ,'five')

# Show
t

('one', 2, 'three', 4, 'five')

In [4]:
# Use indexing just like we did in lists
t[2]

'three'

In [5]:
# Slicing just like a list
t[-1]

'five'

In [6]:
# Use .index to enter a value and return the index
t.index('three')

2

In [7]:
# Use .count to count the number of times a value appears
t.count('one')

1

In [8]:
t.count('three')

1

In [9]:
t[0]= 'day'

TypeError: 'tuple' object does not support item assignment

Because tuple being immutable they can't grow. Once a tuple is made we can not add to it.

In [10]:
t.append('no')

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
x = set()

In [12]:
# We add to sets with the add() method
x.add(1)

In [13]:
#Show
x

{1}

In [14]:
# we cannot add multiple arguments in add() method
x=set()
x.add(2,5,9)
x

TypeError: add() takes exactly one argument (3 given)

In [15]:
# Add a different element 
x.add(9)

In [16]:
#Show
x

{9}

In [17]:
# Try to add the same element
x.add(1)
x

{1, 9}

In [18]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1,9,25,25]

In [19]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6, 9, 25}

In [20]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2','key3':'value3','key4':'value4'}

In [21]:
# Call values by their key
my_dict['key4']

'value4'

In [22]:
my_dict = {'key1':1234567,'key2':[12,23,33,2,56,85,63],'key3':['item0','item1','item2','item3','item4','item5']}

In [23]:
#Let's call items from the dictionary
my_dict['key2']

[12, 23, 33, 2, 56, 85, 63]

In [24]:
# Can call an index on that value
my_dict['key2'][2]

33

In [25]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [26]:
my_dict['key1']

1234567

In [27]:
# Subtract 1234567 from the value
my_dict['key1'] = my_dict['key1'] - 1234567

In [28]:
#Check
my_dict['key1']

0

In [29]:
# Set the object equal to itself minus 1234567 
my_dict['key1'] -= 1234567
my_dict['key1']

-1234567

In [30]:
# Create a new dictionary
d = {}

In [31]:
# Create a new key through assignment
d['flower'] = 'Rose'

In [32]:
# Can do this with any object
d['answer'] = 84

In [33]:
#Show
d

{'flower': 'Rose', 'answer': 84}

In [34]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'rose'}}}

In [35]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'rose'

In [36]:
# Create a typical dictionary
d = {'key1':12,'key2':22,'key3':32, 'key4':42}

In [37]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [38]:
# Method to grab all values
d.values()

dict_values([12, 22, 32, 42])

In [39]:
# Method to return tuples of all items  
d.items()

dict_items([('key1', 12), ('key2', 22), ('key3', 32), ('key4', 42)])

In [40]:
print(list(range(50)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [41]:
{x:x**2 for x in range(50)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401}

In [42]:
def say_hello():
    print('HELLO')
say_hello()

HELLO

In [43]:
def greeting(name):
    print('Hello %s' %name)
    print('how are you doing %s'%name)
greeting('ruby')

Hello ruby
how are you doing ruby

In [44]:
def add_num(num1,num2,num3,num4):
    return num1+num2+num3+num4

In [45]:
add_num(4,5,7,8)

24

In [46]:
# Can also save as variable due to return
result = add_num(4,5,7,8)

In [47]:
print(result)

24

In [48]:
print(add_num('two\t','zero\t','two\t','zero'))

two	zero	two	zero

In [49]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: # If never mod zero, then prime
        print('prime')

In [50]:
is_prime(9)

not prime

In [51]:
is_prime(15)

not prime

In [52]:
is_prime(3)

prime

In [53]:
import math

def is_prime(num):
    '''
    A Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [54]:
is_prime(9)

False

In [55]:
is_prime(11)

True

In [56]:
is_prime(13)

True

In [57]:
# Generator function for the cube of numbers (power of 3)
def gencubes(n):
    for num in range(n):
        yield num**3

In [58]:
for x in gencubes(5):
    print(x)

0
1
8
27
64

In [59]:
def genfibon(n):
    '''
    Generate a fibonacci sequence up to n
    '''
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [60]:
for num in genfibon(20):
    print(num)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [61]:
def fibon(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [62]:
fibon(12)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [63]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [64]:
def simple_gen():
    for x in range(5):
        yield x

In [65]:
# Assign simple_gen 
g = simple_gen()

In [66]:
print(next(g))

0

In [67]:
print(next(g))

1

In [68]:
print(next(g))

2

In [69]:
print(next(g))

3

In [70]:
print(next(g))

4

In [71]:
print(next(g))

StopIteration:

In [72]:
s = 'hello'

#Iterate over string
for i in s:
    print(i)

h
e
l
l
o

In [73]:
next(s)

TypeError: 'str' object is not an iterator

In [74]:
s_iter = iter(s)

In [75]:
next(s_iter)

'h'

In [76]:
next(s_iter)

'e'

In [77]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 37, 75,100]

In [78]:
F_temps = list(map(fahrenheit, temp))

#Show
F_temps

[32.0, 98.60000000000001, 167.0, 212.0]

In [79]:
# Convert back
list(map(celsius, F_temps))

[0.0, 37.00000000000001, 75.0, 100.0]

In [80]:
list(map(lambda x: (5.0/9)*(x - 32), F_temps))

[0.0, 37.00000000000001, 75.0, 100.0]

In [81]:
a = [1,2,3,4,5]
b = [6,7,8]
c = [9,10,11]

list(map(lambda x,y:x+y, a,b))

[7, 9, 11]

In [82]:
# Now all three lists
list(map(lambda x,y,z:x+y+z, a,b,c))

[16, 19, 22]

In [83]:
#Find the maximum of a sequence (This already exists as max())
max_find = lambda a,b: a if (a > b) else b

In [84]:
#Find max
print(lst)
reduce(lambda a,b: a if (a > b) else b,lst)

NameError: name 'lst' is not defined

In [85]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

In [86]:
lst =range(50)
print(list(lst))

list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [87]:
list(filter(lambda x: x%2==0,lst))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]